:root {
  --bg-100: rgb(27, 27, 27);
  --bg-200: rgb(32, 32, 32);
  --bg-300: rgb(46, 46, 46);
  --text-color: white;
  --primary-color-50: rgb(165, 79, 119);
  --primary-color-100: rgb(184, 88, 133);
  --primary-color-200: rgb(194, 98, 143);
  --primary-color-300: rgb(204, 108, 153);
}
html,
body,
#root,
.App {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--bg-200);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  line-height: 1.6rem;
}
body {
  height: fit-content;
}
.App {
  background-color: var(--bg-200);
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--primary-color-300);
  margin-top: 2px;
  padding: 0.7rem 0.3rem;
}

/*Utility classes*/
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1rem;
}
.split {
  display: flex;
  flex-direction: column;
}
.split > * {
  flex-basis: 100%;
  min-width: 0;
}
.split > * + * {
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .split > * + * {
    margin-left: 1rem;
    margin-top: 0;
  }
  .split {
    flex-direction: row;
  }
}
.primary-btn,
.secondary-btn {
  border: 2px solid var(--primary-color-100);
  border-radius: 6px;
  transition: all 100ms ease-in-out;
  display: block;
}
.primary-btn {
  background-color: var(--primary-color-100);
  color: white;
}
.primary-btn:hover {
  border: 2px solid var(--primary-color-50);
  background-color: var(--primary-color-50);
}
.secondary-btn:hover {
  background-color: var(--primary-color-100);
  color: white;
  transform: translateY(10px);
}
.primary-btn:hover,
.secondary-btn:hover {
  transform: translateY(2px);
}

/*Nav*/
nav {
  display: flex;
  justify-content: center;
  box-shadow: 0;
  box-shadow: 0px 4px 4px -4px black;
  background-color: var(--bg-100);
}
@media (min-width: 768px) {
  nav {
    justify-content: end;
  }
}
nav > * {
  margin: 0 0.7rem;
}
nav .active {
  border-bottom: 2px solid var(--primary-color-100);
}
nav a:hover {
  background-color: var(--bg-300);
}

/*Projects*/
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.4rem;
}
@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }
}

/*Project card*/
.project-card-wrapper {
  background-color: var(--bg-300);
  border-radius: 5px;
  box-shadow: 3px 3px 12px 4px rgba(0, 0, 0, 0.322);
}
.project-card-wrapper h2 {
  text-align: center;
}
.project-card-wrapper h2,
.project-card-wrapper p {
  margin: 1rem;
}
.project-card-wrapper img {
  max-width: 100%;
  object-fit: fill;
}
.project-card-links {
  display: flex;
  margin: 1.5rem 1rem;
  text-align: center;
}
.project-card-links > * {
  flex: 1 1 auto;
}
.project-card-links > * + * {
  margin-left: 1rem;
}
